<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="logo-container">
    <a routerLink="/mapa">
      <img src="assets/img/home.png" class="logo">
    </a>
  </div>
  <div class="container">
    <strong class="title" style="font-family: 'DynaPuff', sans-serif;">Trapagarango Kondaira</strong>
    <div class="speech-bubble">
      <p style="font-family: 'DynaPuff', sans-serif;">Handik ez oso urrun, Gallartan, meatzariek lehia zirraragarria
        ospatzen zuten: altzairuzko barra izugarriekin zuloak egiten zituzten harkaitzetan! Nork azkarrago egiten zuen
        ikustea benetako ikuskizuna zen.</p>
    </div>
  </div>
</ion-content>