ion-content {
    --background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    position: relative;
}

.logo {
    width: 10vw;
    left: -100vw;
    height: auto;
}

.container {
    position: fixed; 
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1; 
}

.title {
    font-size: 3vw;
    color: #FF8A00;
}