ion-content {
    --background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'DynaPuff', sans-serif;
}

.home {
    position: fixed;
    width: 12vw;
    height: auto;
}

.title {
    position: fixed;
    font-size: 4vw;
    left: 50%;
    top: 2vh;
    transform: translateX(-50%);
    color: #FF8A00;
}

.speech-bubble {
    position: fixed;
    width: 70vw;
    background-color: white;
    border-radius: 2vh;
    border: 5px solid darkgreen;
    box-shadow: 0 0 10px darkgreen;
    font-size: 4vh;
    color: #333;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.speech-bubble p {
    filter: blur(10px);
    user-select: none;
}

.speech-bubble p.no-blur {
    filter: none;
}

.lock {
    position: fixed;
    width: 5vw;
    border-radius: 2vh;
    font-size: 4vh;
    color: #333;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}