<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content #content [fullscreen]="true">
  <body>
    <div>
      <img class="amona" src="assets/img/amona.png">
      <img (click)="mapaIkusi()" class="home" src="assets/img/home.png">
      <div class="speech-bubble">
        <p class="testu-luzeak">{{ testua }}</p>
        <img *ngIf="playErakutsi" (click)="erronkaHasi()" class="hasi" src="assets/img/play.png">
      </div>
      <img (click)="audioaEntzun()" class="soinua" src="assets/img/soinua.png">
      <div class="text-bubble" *ngIf="ariketaErakutsi" [ngClass]="{'move-up': moveTextUp}">
        <p class="testu-luzeak">
          <span *ngFor="let letra of letras; let i = index">
            <ng-container *ngIf="letra === ''">
              <input 
                type="text" 
                maxlength="1" 
                class="input-letter" 
                style="width: 20px; text-align: center;" 
                (input)="hizkiaIrakurri($event, i)" />
            </ng-container>
            <ng-container *ngIf="letra !== ''">
              <span>{{ letra }}</span>
            </ng-container>
          </span>
        </p>
      </div>
      <div class="erantzuna-bubble" *ngIf="erantzuna !== null">
        <ng-container *ngIf="erantzuna === true">
          <p class="testu-luzeak zuzena">Zorionak! Mezuaren zati bat deszifratu duzu!</p>
          <img (click)="testuaErakutsi()" class="zuzen" src="assets/img/tik.png">
        </ng-container>
        <ng-container *ngIf="erantzuna === false">
          <p class="testu-luzeak okerra">Saiatu berriro, erantzuna ez da zuzena.</p>
          <img (click)="ariketaBerregin()" class="oker" src="assets/img/rehacer.png">
        </ng-container>
      </div>
      <div class="testu-izkutua" *ngIf="testuaIkusi">
        <img class="img" src="assets/img/testuizkutua2.png">
        <p class="itxi" (click)="erronkaSubmit()">X</p>
        <p class="text">
          “Aspaldian, Trapagaran misteriotsuan, meatzari ausartak mendietan sartzen ziren altxor ezkutuak ateratzeko;
          hain zuzen, herriari bizia ematen zioten mineral distiratsuak.”
        </p>
      </div>
      <img *ngIf="finishErakutsi" (click)="erantzunaEgiaztatu()" class="tik" src="assets/img/tik.png">
    </div>
  </body>
</ion-content>
