<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="container">
    <img class="amona" src="assets/img/amona.png">
    <div class="speech-bubble">
      <p style="font-family: 'DynaPuff', sans-serif;">Dolores herri honen historia eta garrantzia oso ondo ezagutzen
        dituen andre bat da. Politikari espainiarra izan zelako da ezaguna batez ere, baina hori alde batera utzita ondo
        ezagutzen zuen La Arboledako eta inguruko meatzaritzaren historia osoa...</p>
    </div>
    <img class="soinua" src="assets/img/soinua.png">
    <a [routerLink]="'/erronka' + erronkaId">
      <img class="play" src="assets/img/play.png">
    </a>
  </div>
</ion-content>