<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="container">
    <img class="amona" src="assets/img/amona.png">
    <a routerLink="/testua">
      <img class="text" src="assets/img/testuizkutupanela.png">
    </a>
    <div class="text-bubble">
      <p style="font-family: 'DynaPuff', sans-serif;">Testu ezkutuak</p>
    </div>
  </div>
  <div class="play-bubble">
    <p style="font-family: 'DynaPuff', sans-serif;">
      Joan zaitez Dolores Ibarruri kalera Dolores Ibarruriren erronka desblokeatzeko.
    </p>
    <ng-container *ngIf="lekuanBadago()">
      <img (click)="erronkaHasi()" class="play" src="assets/img/play.png">
    </ng-container>
  </div>
</ion-content>