<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div>
    <img class="amona" src="assets/img/amona.png">
    <img (click)="testuaIkusi()" class="text" src="assets/img/testuizkutupanela.png">

    <div class="text-bubble">
      <p>Testu ezkutuak</p>
    </div>
  </div>

  <div class="erronka-bubble">
    <p class="erronka-text">
      <ng-container *ngIf="erronkaId === 1">
        Joan zaitez 'Dolores Ibarruri' kalera Dolores Ibarruriren erronka desblokeatzeko.
      </ng-container>
      <ng-container *ngIf="erronkaId === 2">
        Joan zaitez '' kalera '' erronka desblokeatzeko.
      </ng-container>
      <ng-container *ngIf="erronkaId === 3">
        Joan zaitez '' kalera '' erronka desblokeatzeko.
      </ng-container>
    </p>
  </div>

  <div class="play" *ngIf="lekuanBadago() === erronkaId">
    <img (click)="erronkaHasi()" src="assets/img/play.png">
  </div>
</ion-content>