ion-content {
    --background: url('/assets/img/mapa.jpg') no-repeat center / cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    position: fixed;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.amona {
    width: 10vw;
    height: auto;
}

.text {
    position: fixed;
    width: 40vw;
    height: auto;
    bottom: 54vh;
    right: 14vw;
}

.text-bubble {
    position: fixed;
    bottom: 59vh;
    right: -8vw;
    width: 20vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 4vh;
    color: #333;
    text-align: center;
}

.play-bubble {
    position: fixed;
    width: 10vw;
    bottom: 20vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 4vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    text-align: center;
}