ion-content {
    --background: url('/assets/img/mapa.png') no-repeat center / cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'DynaPuff', sans-serif;
}

.amona {
    position: fixed;
    width: 12vw;
    height: auto;
    top: 45vh;
    left: 5vw;
}
  
.text {
    position: fixed;
    width: 12vw;
    height: auto;
}

.text-bubble {
    position: fixed;
    width: 20vw;
    top: 4.5vh;
    left: 12vw;
    background-color: white;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 4vh;
    color: #333;
    text-align: center;
}

.play {
    width: 7vw;
}

.play-bubble {
    position: fixed;
    width: 60vw;
    bottom: 20vh;
    background-color: white;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 4vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    text-align: center;
}