<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div>
    <img class="amona" src="assets/img/amona.png">
    <img (click)="testuaIkusi()" class="text" src="assets/img/testuizkutupanela.png">

    <div class="text-bubble">
      <p>Testu ezkutuak</p>
    </div>
  </div>

  <div class="play-bubble">
    <p>
      <ng-container *ngIf="erronkaId === 1">
        Joan zaitez Dolores Ibarruri kalera Dolores Ibarruriren erronka desblokeatzeko.
      </ng-container>
      <ng-container *ngIf="erronkaId === 2">
        Erronka 2 aktibatuta! Joan zaitez hurrengo puntura.
      </ng-container>
    </p>

    <ng-container *ngIf="lekuanBadago() === erronkaId">
      <img (click)="erronkaHasi()" class="play" src="assets/img/play.png">
    </ng-container>
  </div>
</ion-content>

<!-- *ngIf="lekuanBadago() === erronkaId" -->