<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">

  <body>
    <div>
      <img class="amona" src="assets/img/amona.png">
      <img (click)="mapaIkusi()" class="home" src="assets/img/home.png">
      <div class="speech-bubble">
        <p class="testu-luzeak">{{ testua }}</p>
        <img *ngIf="playErakutsi" (click)="erronkaHasi()" class="hasi" src="assets/img/play.png">

      </div>
      <img (click)="audioaEntzun()" class="soinua" src="assets/img/soinua.png">
      <div class="argazkiak" *ngIf="ariketaErakutsi">
        <img *ngFor="let img of imgUrls; let i = index" class="argazkia" 
             [class.aukeratuta]="argazkiAukeratuak.has(i)" 
             (click)="argazkiaAukeratu(i)" 
             [src]="img">
      </div>      
      <div class="erantzuna-bubble" *ngIf="erantzuna !== null">
        <ng-container *ngIf="erantzuna">
          <p class="testu-luzeak zuzena">Zorionak! Mezuaren zati bat deszifratu duzu!</p>
          <img (click)="testuaErakutsi()" class="zuzen" src="assets/img/tik.png">

        </ng-container>
        <ng-container *ngIf="erantzuna === false">
          <p class="testu-luzeak okerra" >Saiatu berriro, erantzuna ez da zuzena.</p>
          <img (click)="ariketaBerregin()" class="oker" src="assets/img/rehacer.png">
        </ng-container>
      </div>
      <div class="testu-izkutua" (click)="erronkaSubmit()" *ngIf="testuaIkusi">
        <img class="img" src="assets/img/testuizkutua2.png">
        <p class="text">
          “Makinak iritsi eta beren lekua hartu bazuten ere, tradizio horren emozioak bizirik dirau.”
        </p>
      </div>
      <img *ngIf="finishErakutsi" (click)="erantzunaEgiaztatu()" class="tik" src="assets/img/tik.png">
    </div>
  </body>
</ion-content>