<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">

  <body>
    <div>
      <img class="amona" src="assets/img/amona.png">
      <div class="speech-bubble">
        <p style="font-family: 'DynaPuff', sans-serif;">Kaixo! Erronka honetan Ibarrurik utzitako mezua deszifratu
          beharko
          duzue, hutsune bakoitzean letra bat jarriz bere esanahia osatzeko.</p>
      </div>
      <img class="soinua" src="assets/img/soinua.png">
      <div class="text-bubble">
        <p>Tx_kit_tik Tr_p_ga_anek_ m_ateg_etat_k mu_itu i_an na_z. Ni_e
          ha_rtzaro_ren zati_ik han_ien_ ing_ru hauet_n eman dut, f_mi_ia eta sen_rrare_in ego_eko. Horre_aiti_, her_i
          eta
          ingu_uko se_retu gehi_nak dakizkit. Ib_lbid_an zehar desku_ritzek_  pre_t  zaud_te?</p>
      </div>
      <a routerLink="/mapa">
        <img class="tik" src="assets/img/tik.png">
      </a>
    </div>
  </body>
</ion-content>