<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">

  <body>
    <div>
      <img class="amona" src="assets/img/amona.png">
      <img (click)="mapaIkusi()" class="home" src="assets/img/home.png">
      <div class="speech-bubble">
        <p class="testu-luzeak">{{ testua }}</p>
        <img *ngIf="playErakutsi" (click)="erronkaHasi()" class="hasi" src="assets/img/play.png">
      </div>
      <img (click)="audioaEntzun()" class="soinua" src="assets/img/soinua.png">
      <div class="aukerak" *ngIf="erantzunakErakutsi">
        <p class="text-bubble" *ngFor="let item of aukerak; let i = index"
          [class.aukeratuta]="erantzunAukeratua === (i + 1)" (click)="erantzunaAukeratu(i + 1)"
          [ngStyle]="{'top': (45 + i * 12) + 'vh'}">
          {{ item }}
        </p>
      </div>
      <div *ngIf="hitzakErakutsi">
        <p class="left-column testu-luzeak" *ngFor="let item of leftItems; let i = index"
          [ngStyle]="{'top': (45 + i * 12) + 'vh'}" (click)="selectLeft(item.id)">
          {{ item.name }} <span *ngIf="getPairNumber(item.id)"> - {{ getPairNumber(item.id) }}</span>
        </p>

        <p class="right-column testu-luzeak" *ngFor="let item of rightItems; let i = index"
          [ngStyle]="{'top': (45 + i * 12) + 'vh'}" (click)="selectRight(item.id)">
          {{ item.name }} <span *ngIf="getPairNumberReverse(item.id)"> - {{ getPairNumberReverse(item.id) }}</span>
        </p>
      </div>
      <div class="erantzuna-bubble" *ngIf="erantzuna !== null">
        <ng-container *ngIf="erantzuna && erantzunakErakutsi">
          <p class="testu-luzeak zuzena">Zorionak! Hurrengo galdera!</p>
          <img (click)="ariketaSubmit()" class="zuzen" src="assets/img/tik.png">
        </ng-container>
        <ng-container *ngIf="erantzuna && hitzakErakutsi">
          <p class="testu-luzeak zuzena">Zorionak! Mezuaren zati bat deszifratu duzu!</p>
          <img (click)="testuaErakutsi()" class="zuzen" src="assets/img/tik.png">

        </ng-container>
        <ng-container *ngIf="erantzuna === false">
          <p class="testu-luzeak okerra">Saiatu berriro, erantzuna ez da zuzena.</p>
          <img (click)="ariketaBerregin()" class="oker" src="assets/img/rehacer.png">
        </ng-container>
      </div>
      <div class="testu-izkutua" (click)="erronkaSubmit()" *ngIf="testuaIkusi">
        <img class="img" src="assets/img/testuizkutua2.png">
        <p class="text">{{ testuIzkutua }}</p>
      </div>
      <img *ngIf="finishErakutsi" (click)="erantzunaEgiaztatu()" class="tik" src="assets/img/tik.png">
    </div>
  </body>
</ion-content>