ion-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'DynaPuff', sans-serif;
}

body {
    position: relative;
    background: white;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: #bce3ad;
    z-index: -1;
}

.amona {
    position: fixed;
    width: 12vw;
    height: auto;
    top: 2vh;
    left: 4vw;
}

.soinua {
    position: fixed;
    width: 6vw;
    height: auto;
    top: 27vh;
    left: 22vw;
}

.hasi {
    position: fixed;
    width: 6.7vw;
    height: auto;
    top: 27vh;
    left: 82vw;
}

.tik {
    position: fixed;
    width: 10vw;
    height: auto;
    top: 77vh;
    left: 87vw;
}

.zuzen,
.oker {
    width: 6vw;
}

.speech-bubble {
    position: fixed;
    top: 8vh;
    left: 20vw;
    width: 70vw;
    padding: 2vh;
    background-color: white;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 4vh;
    color: #333;
    text-align: center;
}

.text-bubble {
    position: fixed;
    left: 50%;
    width: 50vw;
    padding: 2vh;
    background-color: white;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vh;
    color: #333;
    text-align: center;
}

.left-column {
    position: fixed;
    left: 20%;
    width: 25vw;
    padding: 2vh;
    background-color: #A467EA;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vh;
    color: white;
    text-align: center;
}

.right-column {
    position: fixed;
    left: 65%;
    width: 50vw;
    padding: 2vh;
    background-color: white;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vh;
    color: #333;
    text-align: center;
}

.erantzuna-bubble {
    position: fixed;
    width: 80vw;
    background-color: white;
    border-radius: 2vh;
    border: 5px solid #669E50;
    box-shadow: 0 0 10px #669E50;
    font-size: 4vh;
    color: #333;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    p {
        font-family: 'DynaPuff', sans-serif;
        white-space: pre-line;
    }
}

.aukeratuta {
    background-color: orange;
    border-radius: 25px;
}

.testu-izkutua {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .img {
        max-width: 90%;
        max-height: 70vh;
        position: fixed;
    }

    .itxi {
        position: fixed;
        top: 12vh;
        right: 65vh;
        font-size: 6vh;
        color: #333;
        height: auto;
        font-weight: bold;
    }

    .text {
        position: fixed;
        top: 42%;
        left: 50%;
        font-size: 4.5vh;
        font-weight: bold;
        transform: translate(-50%, -50%);
        color: #333;
        text-align: center;
        padding-left: 15vh;
        padding-right: 15vh;
    }
}